@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800&display=swap');

/* 
#457B9D = blue
#1d3557 = dark blue
#a8dadc = light blue
#e63946 = red
#f1faee = white
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

ul {
  list-style: none;
}

body {
  background: #457B9D;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e63946;
  color: #f1faee;
  padding: .7rem 0rem;
}

.container,
.feedback-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  padding: 2rem 0rem;
}

.feedback-list {
  gap: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  padding: 2rem;
  margin: auto;
}

.card .num-display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  left: -10px;
  background-color: #e63946;
  color: #f1faee;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.feedback-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: #f1faee;
  margin: 1rem 0rem;
}

form {
  width: 100%;
}

.btn {
  color: #f1faee;
  border: 0;
  border-radius: 8px;
  color: #f1faee;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.btn-primary {
  background-color: #e63946;
}

.btn-secondary {
  background-color: #457B9D;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

.input-group input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
  text-indent: 1rem;
  width: 100%;
}
.input-group input:focus {
  outline: none;
}

.rating {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  margin: 30px 0 40px;
}

.rating li {

  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #ffeeef solid;
  transition: 0.3s;
  /* margin: 0px 4px; */
  padding: 10px;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover{
  background: #e63946;
  color: #f1faee;
}

[type='radio'] {
  opacity: 0;
}

[type='radio']:checked ~ label {
  background: #e63946;
  color: #f1faee;
}

.about-link {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.about-link a {
  color: #f1faee;
}
.about-link:hover a {
  color: #a8dadc;
}

.link {
  text-decoration: none;
  color: #1d3557;
}
.link:hover {
  color: #457B9D;
}
