@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

body {
  background: #457B9D;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e63946;
  color: #f1faee;
  padding: .7rem 0rem;
}

.container,
.feedback-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  padding: 3rem;
  margin-top: 2rem;
}

.card .num-display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  left: -10px;
  background-color: #e63946;
  color: #f1faee;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
}